<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HoFit"
        tools:targetApi="31">
        <activity
            android:name=".ui.NetworkCheck"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fragment.user_manage.PassManage"
            android:exported="false" />
        <activity
            android:name=".PaymentPass"
            android:exported="false" />
        <activity
            android:name=".OrderSummary"
            android:exported="false" />
        <activity
            android:name=".ui.fragment.user_dashboard.booking_summary.UserBooking"
            android:exported="false" />
        <activity
            android:name=".ui.fragment.user_dashboard.profile_create.ProfileCreation"
            android:exported="false" />
        <activity
            android:name=".ui.UserMainPage"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"/>
    </application>

</manifest>